@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input-custom {
    @apply h-12 px-4 mb-2 rounded-md border-none ring-1 ring-neutral-200 bg-transparent transition duration-300 focus:outline-none focus:ring-4 focus:ring-mainBlue;
  }
  .label-custom {
    @apply absolute text-lg text-neutral-400 -translate-y-5 transform duration-300 top-1 left-3 z-10 bg-white/100 px-2 origin-[0] scale-75 
    peer-placeholder-shown:px-0 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-5 peer-placeholder-shown:-z-10 peer-placeholder-shown:bg-white/0 peer-focus:-translate-y-5 peer-focus:top-1 peer-focus:left-3 peer-focus:z-10 peer-focus:bg-white/100 peer-focus:text-mainBlue peer-focus:scale-75 peer-focus:px-2;
  }
}

@font-face {
  font-family: "netmarbleB";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.1/netmarbleB.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

* {
  font-family: "Noto Sans KR", sans-serif;
  word-break: keep-all;
}

body {
  transition: all 0.23s;
}

.ffNetm {
  font-family: "netmarbleB";
}

.mainhead {
  background-image: url("./img/head3.png");
}

.mainhead h2 {
  font-size: 26px;
  line-height: 32px;
}
.mainhead h1 {
  font-size: 52px;
  line-height: 1;
}

@media screen and (min-width: 550px) {
  .mainhead h2 {
    font-size: 30px;
  }
  .mainhead h1 {
    font-size: 60px;
  }
}

@media screen and (min-width: 800px) {
  .mainhead {
    background-image: url("./img/head2.png");
  }
  .mainhead h2 {
    font-size: 30px;
    line-height: 36px;
  }
  .mainhead h1 {
    font-size: 78px;
  }
}

select {
  -webkit-appearance: none; /* 크롬 화살표 없애기 */
  -moz-appearance: none; /* 파이어폭스 화살표 없애기 */
  appearance: none; /* 화살표 없애기 */
}

.swiper-initialized.swiper-horizontal {
  max-width: 1600px;
  min-height: 440px;
}

.classCard img,
.modal img {
  object-fit: cover;
}

section .swiper-pagination-bullet {
  background: #239aff;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal-content {
  width: 90%;
  max-width: 1200px;
  height: 750px;
  border-radius: 10px;
  padding: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: relative;
}

.modal .css-10o2lyd-MuiStack-root {
  padding: 0;
}

.modal-content h4,
.m-modal-content h4 {
  position: relative;
  width: max-content;
  z-index: 1;
}

.modal h4 ~ p > li {
  position: relative;
  list-style: none;
  margin: 0 0 8px 25px;
}
.modal h4 ~ p > li::before {
  position: absolute;
  top: 40%;
  left: -20px;
  content: " ";
  display: inline-block;
  width: 9px;
  height: 9px;
  background: #239aff;
  border-radius: 50%;
}

.modal-content h4::after,
.m-modal-content h4::after {
  z-index: -1;
  position: absolute;
  content: " ";
  display: inline-block;
  height: 7px;
  width: 100%;
  background: #8ac9ff;
  bottom: 5px;
  left: 0;
}

.close {
  position: absolute;
  top: 0px;
  right: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 27px;
}

.m-modal-content {
  display: none;
}

.MuiStack-root.css-10o2lyd-MuiStack-root {
  background: #fff;
  border-radius: 5px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #239aff;
  border-radius: 12px;
}

footer a:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}
