@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "KOHIBaeumOTF";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/KOHIBaeumOTF.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

* {
    font-family: "Noto Sans KR", sans-serif;
}

summary::-webkit-details-marker {
    display: none;
}

summary {
    list-style-type: none;
    cursor: pointer;
}
